*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fix{
    overflow: hidden;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
}
.col-4{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.col-6{
    width: 50%;
    float: left;
    padding: 0 15px;
}
.col-12{
    width: 100%;
    float: left;
    padding: 0 15px;
}
.fa-arrow-circle-right {
	padding: 5px;
}